<!DOCTYPE html>
<html>
<head>
  <title>rcqrs-blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
	<%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>