<!DOCTYPE html>
<html>
<head>
  <title>rcqrs-blog</title>
  <%= stylesheet_link_tag 'style', 'site' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'cufon-yui', 'fonts/Museo.font', 'DD_roundies', 'hoverIntent', 'superfish', 's3Slider', 'application' %>
	<%= render 'shared/ie6_hacks' %>
	
	<%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="logo">
				<% if @blog -%>
					<h1><%= link_to @blog.name, root_path %> - <%= @blog.tagline %></h1>
				<% end -%>
			</div>
			
			<div id="pagenav">
				<%= render :partial => 'shared/page_navigation' %>
			</div>
		</div>
		
		<div id="main">
			<div class="container">
				<div class="content">
					<%=raw flash_helper %>
					<%= yield %>
				</div>
				
				<div class="sidebar">
					<%= render :partial => 'shared/search' %>
					<%= render :partial => 'shared/subscriptions' %>
					<%= render :partial => 'shared/actions' %>
					
					<%= yield :sidebar %>
				</div>
			</div>
		</div>

		<div id="footer">
			<%= render :partial => 'shared/footer' %>
		</div>
	</div>
</body>
</html>